<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Output</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Output</h1>
    </div>
    <div>
      <p>This is the result of GetInput1: @Model.GetInput1()</p>
      <p>This is the result of GetInput2: @Model.GetInput2()</p>
    </div>
  </div>
</body>
</html>
